<div class="row" ng-controller="postQuesController">
	<div class="centralsection">
		<h2>Question:</h2>
		<div class="form-group">
			<textarea ng-model="ques" class="form-control" rows="5" id="comment" placeholder="Enter Your Qusetion"></textarea>
		</div>

		<div> 
			<form ng-submit="add()">
				<input type="text" ng-model="item" placeholder="Add tags" style="padding: 10px">
				<button ng-submit="add()">add</button>
			</form>
			
			<br>

			<div style="min-width: 0px;max-width: 200px">
				<div class="tags" ng-repeat="x in items">
					{{x}}
				</div>
			</div>
		</div>
		<form ng-submit="postdata()">
			<div style="float: left;clear: left; margin-top: 10px;">
				<button>post</button>
				<!--<a href="#/postedQues" class="btn btn-primary">Post</a>-->
			</div>
		</form>
	</div>
</div>

