div.wrapper {
    position:fixed;
    top: 50%;
    right: 50%;
    align-content: center;
    align-self: center;
    border: 1px solid #88f;
    background-color: #a3a3ff;
    padding: 50px;
    border-radius: 2px;
}
div.tags{
    background-color: #ffaaaa;
    padding: 10px;
    max-width:50%;
    min-width:0px;
    margin:3px;
    border-radius: 2px;
    border:1px solid #ffdd7c;
    float:  left;
    font-size: 10px;
}
form {
    position: relative;
    display: block;
}

input [type="text"]{
    border-radius: 10px;
    border: 100px solid black;
    border-color: black;
}
